html,body {
  height: 100%;
}

.rectangleRed {
  height: 50%;
  width: 100%;
  background: #ff6666;
  cursor: pointer;
}

.rectangleRed:hover {
  height: 50%;
  width: 100%;
  background: #ff6666;
  background: linear-gradient(#ff8080, #ff6666);
  cursor: pointer;
}

.rectangleBlue {
  height: 50%;
  width: 100%;
  background: #33ccff;
  cursor: pointer;
}

.rectangleBlue:hover {
  background: #33ccff;
  background: linear-gradient(#80ffff, #33ccff);
  cursor: pointer;
}

.rectangleWhite {
  height: 100%;
  width: 100%;
  background: white;
}

/*.rectangleWhite:hover {
  background: white;
  background: linear-gradient(white, #f3f4f7);
}*/

.rodeVraagCSS {
  height: 25%;
  width: 50%;
  color: #ffffff;
  font-family: Courier New;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 3px 4px 2px #b23e35;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blauweVraagCSS {
  height: 25%;
  width: 50%;
  color: #ffffff;
  font-family: Courier New;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 3px 4px 2px #0000ff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  text-align: center;
}

.uns {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
